{% block header %}
	<header class="row-limit-size">
		
			<nav id="menus">
				<ul>
					<li>
						<a href="#">Mon Compte</a</li>
					</li>
					<li>
						<a href="#">Nos Tartines</a>
					</li>
					<li>
						<a href="#">Mon Panier</a>
					</li>
				</ul>
			</nav>
		
		<a id="logo-lien-accueil-contnair" href="">
			<div id="contnair-logo">
				<img id="Fond" src="{{ asset('asset/img/Fond-Logo.png') }}" alt="tableau noir">
				<img id="Logo" src="{{ asset('asset/img/Logo.png') }}" alt="logo du site">
			</div>
		</a>
		
			<ul id="infos-pratique">
				<li>Ou nous trouvez ?
					<p>4, Rue derriere le garage
                    01000 Bourg-En-Bresse</p>
				</li>
				<li>Quand nous trouvés ?
					<p>Du lundi au dimanche de 11h a 1h.</p>
				</li>
			</ul>
		
	</header>

{% endblock %}
