{% extends 'base.html.twig' %}

{% block title %}Hello MainController!
{% endblock %}

{% block body %}


	<section class="row-limit-size">
		<div>
			<h3>cliquez</h3>
			<ul>
				<li>sur nos nombreux choix de tartine</li>
				<li>sur nos formules</li>
			</ul>
		</div>
		<div>
			<h3>payez</h3>
			<ul>
				<li>CB</li>
				<li>Paylib</li>
				<li>Paypal</li>
			</ul>
		</div>
		<div>
			<h3>collectez</h3>
			<p>Dans notre point de récuperation à l'aide du code fournis lors du paiement.
            </p>
		</div>
	</section>


{% endblock %}
